In [12]:
import pandas as pd
import glob, os
import geopandas as gpd

In [2]:
geocorr_dir = '../../../GIS/geocorr-blocks-places'

In [4]:
df_list = []

for file in os.listdir(geocorr_dir):
    print(file)
    if file.endswith('.csv'):
        df = pd.read_csv(geocorr_dir+'/'+file)
        df_list.append(df)
        
all_corr = df = pd.concat(df_list)
all_corr.to_csv(geocorr_dir+'/geocorr2018-block-place-all.csv')

geocorr2018-ri-wy.csv
geocorr2018-mt-pa.csv
geocorr2018-id-ms.csv
geocorr2018-al-hi-plus-mo.csv

In [5]:
len(all_corr)

6207031

In [11]:
all_corr.loc[all_corr['placenm'] == ('New York city, NY')]

,county,tract,block,state,placefp,stab,cntyname,placenm,pop10,afact
395432,36005,1.00,1000,36,51000,NY,Bronx NY,"New York city, NY",8634,1
541838,36081,616.02,1001,36,51000,NY,Queens NY,"New York city, NY",43,1
541837,36081,616.01,3007,36,51000,NY,Queens NY,"New York city, NY",82,1
541836,36081,616.01,3006,36,51000,NY,Queens NY,"New York city, NY",102,1
541835,36081,616.01,3005,36,51000,NY,Queens NY,"New York city, NY",115,1
...,...,...,...,...,...,...,...,...,...,...
462158,36047,834.00,1000,36,51000,NY,Kings NY,"New York city, NY",202,1
462157,36047,832.00,2002,36,51000,NY,Kings NY,"New York city, NY",210,1
462156,36047,832.00,2001,36,51000,NY,Kings NY,"New York city, NY",312,1
462168,36047,836.00,2001,36,51000,NY,Kings NY,"New York city, NY",457,1
555438,36085,323.00,1020,36,51000,NY,Richmond NY,"New York city, NY",1,1

In [15]:
blocks_in_nyc = all_corr.loc[all_corr['placenm'] == ('New York city, NY')]

In [16]:
blocks_in_nyc.head()

,county,tract,block,state,placefp,stab,cntyname,placenm,pop10,afact
395432,36005,1.0,1000,36,51000,NY,Bronx NY,"New York city, NY",8634,1
395433,36005,1.0,1013,36,51000,NY,Bronx NY,"New York city, NY",2457,1
395434,36005,2.0,1000,36,51000,NY,Bronx NY,"New York city, NY",290,1
395435,36005,2.0,1001,36,51000,NY,Bronx NY,"New York city, NY",254,1
395436,36005,2.0,1002,36,51000,NY,Bronx NY,"New York city, NY",266,1

In [17]:
len(blocks_in_nyc)

30131